@import url(global.css);

header{
  text-align: center;
  margin-top: 2rem;
}

main{
  max-width: 21rem;
  margin: 0 auto;
  margin-top: 5rem;
}

@media screen and (min-width: 992px){
  main{
    max-width: 41rem;
  }
}

h1{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

#addItem form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 992px){
  #addItem form {
    flex-direction: row;
    width: 100%;
  }

  #addItem form input {
    width: 100%;
  }

  #addItem form button {
    min-width: 10rem;
  }
}

#addItem input{
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--border-primary);
  color: var(--content-tertiary);
  background-color: var(--background-secondary);
}

#addItem input:hover{
  border: 2px solid var(--border-hover);
}

#addItem input:focus{
  border: 2px solid var(--color-brand-hover);
  outline: none;
}

#addItem button{
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-brand);
  color: var(--always-white);
  border: none;
  cursor: pointer;
}

#addItem button:hover{
  background-color: var(--color-brand-hover);
}

#ListItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.item_container{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--background-secondary);
  color: var(--content-secondary);
  border-radius: 1rem;
}

.item_container img {
  margin-left: auto;
  cursor: pointer;
}

.item_container input:checked{
  accent-color: var(--color-brand);
}

.item_container input:checked + label{
  text-decoration: line-through;
  color: gray;
}

.item_container input:hover{
  border: 2px solid var(--border-hover);
}

footer {
  display: none;
  background-color: var(--color-danger);
  padding: 1rem;
  color: var(--always-white);
  border-radius: 1rem;
}

footer span{
  margin-left: .5rem;
  vertical-align: middle;
}

footer img{
  vertical-align: middle;
}

.showSucessTrash{
  display: block;
}